.glow{
  position: fixed;
  top: 15em;
  left: 50%;
  width: 40em;
  max-width: 100%;
  height: 20em;
  border-radius: 30%;
  display: block;
  background: radial-gradient(#460631aa 20%,#d886c455 100%);
  transform: translate(-50%);
  will-change: transform;
  filter: blur(100px);
  z-index: -1;
}
